<div>
  <nav class="nav m-5">
    <a class="nav-link" aria-current="page" href="/home">
      Home
    </a>
    <a class="nav-link" aria-current="page" href="/chat">
      Chat
    </a>
    <a class="nav-link" aria-current="page" href="/cart/{{user.cart}}">
      Carrito
    </a>
    <a class="nav-link" aria-current="page" href="/realtimeproducts">
      Real Time Products
    </a>
    <a class="nav-link" aria-current="page" href="/profile">
      Perfil de Usuario
    </a>
  </nav>
  <div class="d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
      <div class="text-center m-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="100"
          height="100"
          fill="currentColor"
          class="bi bi-person-circle text-secondary"
          viewBox="0 0 16 16"
        >
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
          <path
            fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
          ></path>
        </svg>
      </div>

      <div class="card-body">
        <h5 class="card-title text-center">
          Datos de la cuenta
        </h5>
        <p class="card-text">
          Nombre : {{user.name}}
        </p>
        <p>
          Edad :{{user.age}} años
        </p>
        <p>
          Email : {{user.email}}
        </p>
        {{#if isAdmin}}
          <p>
            Rol : {{user.rol}}
          </p>
        {{/if}}
      </div>
      <button class="btn btn-primary" id="logout-btn" href="/logout">
        Cerrar sesión
      </button>
    </div>
  </div>
</div>
<script>
  let logoutButton = document.getElementById("logout-btn")

  logoutButton.addEventListener("click", (evt) => {
    fetch('/api/sessions/logout', {method: 'post'})
    .then( res => {
      return window.location.replace('/login')
    })
  })
</script>